body{
   background-color: #004047;
}

.row{
    margin-top: 100px;
    margin-bottom: 100px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.box{
    height: 253px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#012F34;

}

.box__link{
    display: inline-block;
    text-decoration: none;
}
.box-img{
    margin-top: 50px;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.box-desc{
    margin: 0;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.box-paragraph{
    max-width:254px;
    margin-bottom:24px;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.box-logo{
    text-decoration: none;
}

.box-logo_img{
    margin-right: 16px;
}

.desc{
    margin-top: 66px;
}

.box-one{
    margin-bottom: 24px;
}